{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Lesson Create {% endblock %}

{% block image_block %}

{% endblock %}

{% block content %}

<section id="best-features" class="text-center">
              <h2 class="mb-5 font-weight-bold" style="color:#26abff;">Create a Lesson</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8" >
                  <h2 class="grey-text">Create a Lesson</h2>
                </div>
              </div>
</section>


<form  method="post" enctype="multipart/form-data">
  <div class="form-group">
  {% csrf_token %}
  {{form|crispy}}
  <input class="btn btn-dark btn-lg btn-block" type="submit" value="Create">
  </div>
</form>

{% endblock %}
