{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}
{% block title %} Standards {% endblock %}


{% block image_block %}

{% endblock %}

{% block content %}
<hr></hr>
<section id="best-features" class="text-center">
  <h2 class="mb-5 mt-5 font-weight-bold" style="color:#26abff;">Subjects</h2>
  <!-- class row for description-->
  <div class="row d-flex justify-content-center mb-4">
    <!-- class column -->
    <div class="col-md-8">
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                        hic
                        provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                        est
                        sit pariatur.</p>
    </div>
  </div>
              <!-- class row2 for cards -->
              <div class="row d-flex justify-content-center mb-3">
                <!-- {{standards.subjects.all}} -->
                
                <!-- {% for sub in standards.subjects.all|dictsort:"name" %}
                  {{sub}}
                {% endfor %} -->
                <!-- {% with hold="Nihal" %}
                  {{ hold }} 
                {% endwith %} -->
                



                <!-- {% for x in standards.subjects.all|dictsort:"sem"%}
                
                  {% ifchanged x.sem %}
                    <h1>{{ x.sem }}:</h1>
                    
                  {% endifchanged %}
                    <p>{{ x }}</p>
                {% endfor %} -->

            
                {% for subject in standards.subjects.all|dictsort:"sem" %}
                {%ifchanged subject.sem %}
              
                <div class="dropdown">
                  <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                    <h3 > Semester {{subject.sem}} </h3>
                  <!-- </button> -->
                  <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenu2"></div> -->
                  
                  {%endifchanged%}
                  
                    <!-- <button class="dropdown-item" type="button">
                      <a style="text-decoration: none;" href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}">{{subject.name}}</a>
                    </button> -->
                    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
                      <div class="row no-gutters">
                                <div class="col-md-4">
                                  <img src="{{subject.image.url|default_if_none:'#'}}" class="card-img" alt="No image found" height="200px" width="200px">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h4 class="card-title" style="color:#212121;">{{subject.name}}</h4>
                                    <!-- <p class="card-text">{{subject.description|truncatechars:75}}</p> -->
                                    <p class="card-text"><small class="text-muted"></small></p>
                                        <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="button-les"> <span> Get Lessons</span></button></a>
                                  </div>
                                </div>
                      </div>
                      </div>
                  
                  
                
                {%endfor%}

              <!-- {% for subject in standards.subjects.all|dictsort:"name" %}
              <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
                <div class="row no-gutters">
                          <div class="col-md-4">
                            <img src="{{subject.image.url|default_if_none:'#'}}" class="card-img" alt="No image found" height="200px" width="200px">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h4 class="card-title" style="color:#212121;">{{subject.name}}</h4>
                              <p class="card-text">{{subject.description|truncatechars:75}}</p>
                              <p class="card-text"><small class="text-muted"></small></p>
                                  <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="button-les"> <span> Get Lessons</span></button></a>
                            </div>
                          </div>
                </div>
                </div>
              {% endfor %} -->
              
              </div>
              <div class="row d-flex justify-content-center mb-3">
                {% if request.user.user_profile.user_type == 'teacher' or user.is_superuser %}
                 <a style="text-decoration: none;" href="{% url 'curriculum:subject_create'  slug=standards.slug %}"><button type="button" class="btn btn-dark btn-lg btn-bloc" > Add new Subject </button> </a>
                {% endif %}
              </div>
</section>
{%endblock%}
