<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_test.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/lesson_style.css' %}">
    
    
   
  </head>
  <body id="first">
    
    <!-- navigation bar -->
              <nav id ="n_navigation_bar"class="navbar navbar-expand-lg  navbar-light bg-dark fixed-top ">
                <div class="container" >
                  
                  {% if user.is_authenticated  %}<span id="status">&#128994;</span>{%endif%}<a id = "n_nav_eff" class="navbar-brand" href="{% url 'home' %}"  >Home</a>
                  
                      
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                           aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                       </button>
                      <div class="collapse navbar-collapse" id="basicExampleNav" >
                        <ul class=" navbar-nav  mr-auto smooth-scroll " >
                                {% if user.is_authenticated  %}
                                <li id ="test"class="nav-item">
                                   <a id = "n_nav_eff" class="nav-link " href="{% url 'curriculum:standard_list' %}" >Academic content</a>
                                </li>
                                {%endif%}
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                   <a id = "n_nav_eff" class="nav-link " href="{% url 'curriculum:learning_list' slug='lc' %}" >learning content</a>
                                </li>
                                {%endif%}
                                <li class="nav-item">
                                  <a id = "n_nav_eff" class="nav-link " href="https://myap.e-pragati.in/" target="_blank" >Ap E-Pragathi</a>
                               </li>
                               <li class="nav-item">
                                <a id = "n_nav_eff" class="nav-link " href="https://grow.google/intl/en_in/learn-skills/" target="_blank" >Grow With Google</a>
                             </li>
                                {% if user.is_superuser %}
                                <li class="nav-item ">
                                   <a id = "n_nav_eff" class="nav-link " href="{% url 'admin:index' %}" >Admin</span> </a>
                                </li>
                                {%endif%}
                                {% if user.is_superuser or request.user.user_profile.user_type == 'department_admin' %}
                                    <li class="nav-item " >
                                       <a  id = "n_nav_eff" class="nav-link " href="{% url 'register' %}" >Register</span> </a>
                                    </li>
                                {% endif %}
                                {% if user.is_superuser or request.user.user_profile.user_type == 'department_admin'%}
                                    <li class="nav-item " >
                                       <a  id = "n_nav_eff" class="nav-link " href="{% url 'report' %}" >Reported Query</span> </a>
                                    </li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <li class="nav-item  ">
                                     <a id = "n_nav_eff" class="nav-link " href="{% url 'user_logout' %}" >Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item ">
                                        <a id = "n_nav_eff"class="nav-link" href="{% url 'user_login' %}" >Login</a>
                                    </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    {% else %}
                                    <!-- <li class="nav-item ">
                                      <a class="nav-link" href="{% url 'secretkey' %}" style="color:#FFFFFF;">Secret Key</a>
                                  </li> -->
                                  {% endif %}
                                  {% if user.is_authenticated  %}
                                <li id ="test"class="nav-item">
                                   <a id = "n_nav_eff" class="nav-link " href="{% url 'change_password' %}" >Change Password</a>
                                </li>
                                {%endif%}
                                  <li class="nav-item">
                                    {% if request.user.user_profile.user_type == 'department_admin'  or user.is_superuser %}
                                    <a  id = "n_nav_eff" class="nav-link " href="{% url 'add_class' %}" >Add Class</span> </a>
                                    {%endif%}
                                  </li>
                                  <li class="nav-item ">
                                    <button  onclick="mode()">mode</button>
                                </li>
                                
                                
                                
                                

                        </ul>
                      </div>
                </div>
              </nav>
          <!-- {% block image_block %}
          {% endblock %} -->

          {%block lesson_content%}

          
        {%endblock%}
        
        
        <!-- ikkada hardcode chesi undi -->
    <div   class="container"> 
      
        {%block content%}
        {%endblock%}
    </div> 



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

    <script>
      a = document.getElementById("first");
      if(localStorage.on==="1"){
        a.classList.remove('main_black');
          a.classList.add('main_white');
      }
      else if(localStorage.on==null){
        a.classList.remove('main_white');
          a.classList.add('main_black');
      }
      function mode(){
        // var container = true;
        
        if (localStorage.on==null){
          // console.log("no value set yet")
          localStorage.setItem("on","1")
          a.classList.remove('main_black');
          a.classList.add('main_white');
        }
        else if(localStorage.on==="1"){
          localStorage.removeItem("on")
          a.classList.remove('main_white');
          a.classList.add('main_black');
        }
        // a = document.getElementById("first")
        // localStorage.setItem("on","1");
        
        
      //   let a = document.getElementById('first')
      //   console.log(a.innerHTML);
      //   a.innerHTML="white";
        
      // //   if(a.classList.contains('main_black')){
          
      // //   }
      // //   else{
      // //     a.classList.remove('main_white');
      // //     a.classList.add('main_black');
      // //   }
      }
      

    </script>
    
  </body>
</html>
