{% extends 'base.html' %}
{% load static %}
{% block title %} How This System Works {% endblock %}




{% block content %}
<!-- section 1 for standards-->

<section id="best-features" >
              <hr></hr>
              <hr></hr>
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#26abff;">Project  Title : Again</h2>
              <hr></hr>
              <hr></hr>
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#26abff;">Overview Of this Project</h2>
              <!-- added -->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">We have observed students do not ask questions in the class 
                    thinking it will make them look like they are  not that intelligent than others. </p>
                    <p>so they stop themselves from asking questions.</p>
                    <p>And they dont get their doubt clarified</p>
                    <p>And they go on youtube or other platforms to learn the subject before the exams
                        and score a average mark in their exams</p>
                    <p>so by the end of the semester they are not learning the subject 
                        instead they are just knowing the subject to score the marks</p>
                    
                  </p>
                  <p class="grey-text">And in the mean time from start of semester to end of semester
                    they are entangled to only academic syllabus and they find hard time to learn a skill
                    which will help them in their career
                  </p>
                  <p class="grey-text">
                    so something has to be done
                  </p>
                  <p class="grey-text">
                    so the first problem to tackle was to hide the identity of the learner and 
                    motivate and make him/her to ask questions
                  </p>
                  <p class="grey-text">
                    So we Designed this idea of Anonymous learning(gain)
                  </p>
                  <p class="grey-text">
                    What does this webapplication do or provide?
                    <p>- The academic content is structured by the professors in a way that what they tought in the college
                        will be uploaded it over here </p>
                    <p>
                        - And student is provided with the credentials and he can access the lectures
                    </p>
                    <p>- And if at a particular lecture video  he gets a doubt 
                        at the same lecture video  below we have  provided anonymous question box 
                        where he can post his doubts and get clarified by students replying to it 
                        or the professor</p>
                    <p>------------------------------------------------------------------------------------</p>
                    <p>Now there is a new module added in this webapplication only focussing on
                        the content/courses which will be useful ih his career path </p>
                    <p>we call it as learning content</p>
                    <p>so the learning content has all the courses provided by the management needed by the industry</p>
                    <p>
                    ------------------------------------------------------------------------------------
                    </p>
                  </p>
                  <p class="grey-text">
                    <p>Now we want to update this webapplication by developing and adding the new feature</p>
                    <p>Feature:</p>
                    <p>automatic mail sent  to the professor when a student post his doubts in the 
                        anonymous question box</p>
                    
                  </p>
                  <p class="grey-text">
                    <p>please feel free to use this credentials to log in the system and look how it works</p>
                    <p>In the Navigation Bar you will find Log In use this over there</p>
                    <div><p>student login :</p>
                        <p>username : nihalmirza</p>
                        <p>password : test@test</p>
                    
                    </div>
                    <div><p>teacher login :</p>
                        <p>username : arsha1205</p>
                        <p>password : test@test</p>
                    
                    </div>
                    

                    <p>Thank You </p>
                  </p>
                </div>
              </div>
              <!-- till here -->
              
              
              
</section> 

{%endblock%}