{% extends 'base.html' %}
{% load static %}
{% block title %} How This System Works {% endblock %}




{% block content %}
<!-- section 1 for standards-->

<section id="best-features" class="text-center">
              <hr></hr>
              <hr></hr>
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#26abff;">Working Of This Project</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                    <p class="grey-text">Overview Of this Project</p>
                  <p class="grey-text">This Project is Designed and Developed keeping mind 
                      to make student use his time efficiently 
                      by learning acadmically and carrer developement wise
                  </p>
                  <p class="grey-text">To enter into this system you should definitely have a account 
                      and this can be only provided for you by the administration 
                      so for th edemo purposes 
                      we are sharing the student as well as the teachers credentials
                </p>
                </div>
              </div>
              <!-- class row2 for cards -->
              <div class="row">
                     
                      
                      
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem;">
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color:#212121;">Teacher Credential</h4>
                            <p class="card-text">A teacher can log into and upload lessons and reply to the students queries 
                                posted by the student anonymously
                            </p>
                            <p class="card-text">
                                username : arsha1205
                                password : test@test
                            </p>
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem;">
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color:#212121;">Student Credential</h4>
                            <p class="card-text">A Student can log into and access  academic lessons and courses for skill 
                                developemt and also post his doubts anonymously with out revealing his identity
                            </p>
                            <p class="card-text">
                                username : nihalmirza
                                password : test@test
                            </p>
                            
                          </div>
                        </div>
                      </div>
                      
                      
                      
              </div>
              
</section> 

{%endblock%}